@import "tailwindcss";

@theme {
  --color-background: #fcfcf4;
  --color-foreground: #1b1d0e;
  --color-primary: #5a6147;
  /* Muted Green (Primary for Green Weave) */
  --color-secondary: #9f402d;
  /* Terracotta (Secondary) */
  --color-tertiary: #705a4c;
  --color-muted: #f4ecd8;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}